apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: zooniverse-org-tls
  labels:
    use-azuredns-solver: "true"
spec:
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  secretName: zooniverse-org-tls
  dnsNames:
    - zooniverse.org
    - "*.zooniverse.org"
    - "*.staging.zooniverse.org"
    - "*.preview.zooniverse.org"
    - "*.pfe-preview.zooniverse.org"
    - "*.lab-preview.zooniverse.org"
    - "*.azure.zooniverse.org"
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: zooniverse-org-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/set-real-ip-from: "10.0.0.0/8"
spec:
  tls:
  - hosts:
    - zooniverse.org
    - "*.zooniverse.org"
    - "*.staging.zooniverse.org"
    - "*.preview.zooniverse.org"
    - "*.pfe-preview.zooniverse.org"
    - "*.lab-preview.zooniverse.org"
    - "*.azure.zooniverse.org"
    secretName: zooniverse-org-tls
  rules:
  - host: zooniverse.org
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.staging.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.preview.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.pfe-preview.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.lab-preview.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
  - host: "*.azure.zooniverse.org"
    http:
      paths:
      - backend:
          serviceName: http-frontend
          servicePort: 80
        path: /(.*)
